.container {
    background: transparent;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 10px;
    border-radius: 15px;
    border: solid 4px #000d38;
}

.img {
    width: 75%;
    height: 70%;
}

.link {
    text-decoration: none;
}

.h2, .h3 {
    color: #ffffff;
    font-weight: 700;
}

.h2 {
    font-size: 20px;
    text-align: center;
}
